.main {
  margin-top: -6px;
  padding: 60px;
  min-height: 400px;
  background: #272729 url('../../images/noise.png');
  position: relative;
  box-shadow: inset 0 7px 2px 0 rgba(0, 0, 0, .7),
              inset 0 -2px 0 1px rgba(255, 255, 255, .2),
              inset 0 -2px 0 2px rgba(255, 255, 255, .5),
              inset 0 -2px 0 4px #0b0b0d;
  display: grid;
  gap: 80px;
}

@media all and (max-width: 730px) {
  .main {
    gap: 60px;
  }
}

@media all and (max-width: 650px) {
  .main {
    padding: 60px 30px;
  }
}

@media all and (max-width: 450px) {
  .main {
    padding: 60px 20px;
  }
}
