.footer {
  margin-top: -7px;
  background: #272729 url('../../images/noise.png');
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  box-shadow: inset 0 -4px 0 1px rgba(255, 255, 255, .2),
              inset 0 -4px 0 2px rgba(255, 255, 255, .5),
              inset 0 -4px 0 4px #0b0b0d;
}

.footer__logo {
  width: 50px;
  height: auto;
  padding-left: 3px;
}

.copyright {
  margin: 0;
  padding: 20px 0 20px 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(to bottom, transparent,
            rgba(0, 0, 0, .7) 50%,
              var(--main-black, black) 80%);
  box-shadow: inset 0 -4px 10px -8px rgba(255, 255, 255, .1);
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 2;
  text-align: center;
}

@media all and (max-width: 850px) {
  .copyright {
    padding-right: 30px;
  }
}
